/****MOBILE FIRST******/
header{
    width: 90px;
    height: 90px;
    padding: 30px 50px;
}
section{
    display: flex;
}
body{
    font-family: 'Roboto', sans-serif;
    max-width: 1400px;
    margin: auto;
    align-items: center;
}

#banner{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenido-banner h1{
    margin: 0;
    padding: 5px 10px 0 50px;
    font-weight: bold;
    font-size: 3em;
}

#subtext{
    margin: 0;
    padding: 5px 10px 0 50px;
    font-weight:100;
    font-size: 1.5em;
}

#linea{
    padding: 5px 10px 0 50px;
    position: absolute;
    width: 85%;
}

.escritorio img{
    background-size: cover;
    margin: auto;
    padding: 30px 0;
}

#medio{
    background-image: url(img/png/fondo.png);
    height: 100vh;
    background-size: cover;
    position: center;
    flex-direction: column;
}

.formulario{
    width: 250px;
    height: 350px;
	background: linear-gradient(#18256e,rgb(92, 171, 207));
	padding: 50px;
	margin: auto;
	margin-top: 100px;
	border-radius: 30px;
	color: white;
}

.formulario h1{
    margin: 0;
    padding: 0 0 20px;
    font-size: 1.4em;
    font-weight: 100;
}

.formulario h1 span{
    font-weight: 400;
}

.controls {
    background: white;
    color: black;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 16px;
    border: 1px solid white;
    transition: 0.3s;
}

.boton{
	width: 50%;
	background: orange;
	border: none;
	padding: 12px;
	color: white;
	margin: 16px 60px;
	font-size: 15px;
    transition: 0.3s;
    border-radius: 10px;
}

.boton:hover{
    background-color: rgb(218, 144, 7);
}

.soluciones{
    width: 330px;
    height: 580px;
	background: rgb(250, 247, 247);
	padding: 50px;
	margin: auto;
	margin-top: 100px;
	border-radius: 30px;
	color: black;
    box-shadow: 1px 1px 20px #000;
}

.soluciones h2{
    font-size: 2em;
    display: flex;
    margin: 0;
    padding: 0 15px;
}

.fila1{
    display: flex;
    padding: 30px 1px;
}

.fila1 h3{
    font-weight: 300;
    align-items: center;
    font-size: 1em;
}

#control{
    padding: 0 30px;
}

.fila2{
    display: flex;
    padding: 0 1px;
}

.fila2 h3{
    font-weight: 300;
    align-items: center;
    font-size: 1em;
}

#autom{
    padding: 0 30px;
}

.fila3{
    display: flex;
    padding: 0 100px;
}

.fila3 h3{
    font-weight: 300;
    align-items: center;
    font-size: 1em;
}

#video{
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 690px 50px;
}

#tarjetas{
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px 60px 30px;
    text-align: center;
    align-items: center;
    transform:translateX(0%) translateY(-100%);
}


.primer-fila{
    margin: 0;
    padding: 0 10px;
}

footer {
    margin-top: 0;
}
/********DESTOK*************/

@media(min-width: 700px) {
    body{
        overflow: scroll;
    }
    header{
        display: none;
    }

    .contenido-banner h1{
        visibility: hidden;
    }
    .contenido-banner h3{
        display: flex;
        justify-content: flex-end;
        align-items: end;
        margin: 0;
        transform:translateX(-20%) translateY(-500%);
    }

    #linea{
        padding: 5px 10px 0 50px;
        position: absolute;
        width: 54%;
        transform:translateX(70%) translateY(-1790%);
    }

    .contenido-banner:before{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: end;
        margin: 0;
        padding: 40px 20px 0 600px;
        font-weight: bold;
        font-size: 3em;
        content: "¿Quieres saber lo que pasa en todas tus Tiendas Comerciales?";
        visibility: visible;
    }

    .escritorio img{
        visibility: hidden;
    }

    .escritorio{
        display:flex;
        position: left;
        flex-direction: column;
        justify-content: flex-end;
        align-items: end;
        margin: 0;
        padding: 30px;
        background-image: url(img/png/banner-destok.png);
        width: 600px;
        height: 400px;
        background-size: cover;
        visibility: visible;
        transform:translateX(80%) translateY(-30%);
    }

    #medio{
        display: flex;
        background-image: url(img/png/banner-izq.png);
        justify-content: left;
        width: 300px;
        height: 780px;
        background-size: cover;
        position: center;
        /* flex-direction: row; */
        transform:translateX(0%) translateY(-115%);
    }

    .formulario{
        justify-content: left;
        background-size: cover;
        position: center;
        transform:translateX(55%) translateY(40%);
    }

    .soluciones{
        display: flex;
        transform:translateX(5%) translateY(120%);
        width: 830px;
        height: 170px;
        padding: 50px 170px;
        margin: auto;
        margin-top: 100px;
        border-radius: 30px;
        box-shadow: 1px 1px 3px #000;
        background: rgb(255, 255, 255);
    }

    .soluciones h2{
        margin: 0;
        position: absolute;
        font-size: 1.4em;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: initial;
        padding: 0px 250px;
    }

    .fila1{
        transform:translateX(2px) translateY(10%);
    }

    .fila2{
        transform:translateX(15%) translateY(30%);
    }

    .fila3{
        transform:translateX(0%) translateY(30%);
    }

    video{
        width: 800px;
    }

    #video{
        margin: 0;
        padding: 0;
        width: 900px;
        transform:translateX(25%) translateY(-70%);
    }

    #tarjetas{
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        text-align: center;
        align-items: center;
        transform:translateX(0%) translateY(-30%);
    }

    .carta1{
        width: 250px;
        height: 180px;
        background: rgb(255, 255, 255);
        padding: 20px;
        margin: auto;
        margin-top: 100px;
        border-radius: 30px;
        color: black;
        box-shadow: 1px 1px 5px #000;
        transform:translateX(-105%) translateY(-30%);
    }

    .carta2{
        width: 250px;
        height: 180px;
        background: rgb(255, 255, 255);
        padding: 20px;
        margin: auto;
        margin-top: 100px;
        border-radius: 30px;
        color: black;
        box-shadow: 1px 1px 5px #000;
        transform:translateX(110%) translateY(-175%);
    }

    .carta3{
        width: 250px;
        height: 180px;
        background: rgb(255, 255, 255);
        padding: 20px;
        margin: auto;
        margin-top: 100px;
        border-radius: 30px;
        color: black;
        box-shadow: 1px 1px 5px #000;
        transform:translateX(-100%) translateY(-30%);
    }

    .carta4{
        width: 250px;
        height: 180px;
        background: rgb(255, 255, 255);
        padding: 20px;
        margin: auto;
        margin-top: 100px;
        border-radius: 30px;
        color: black;
        box-shadow: 1px 1px 5px #000;
        transform:translateX(115%) translateY(-175%);
    }


}